body {
	font-family: calibri;
	background-color: #eee;
}

.utama {
	width: 900px;
	margin: auto;
}

@media only screen and (max-width: 768px) {
	[class="utama"] {
		width: 100%;
	}
}

img {
	width: 4cm;
	height: 4cm;
	object-fit: cover;
	border-radius: 50%;
	border: 2px solid dodgerblue;
	transition: 0.2s;
}

img:hover {
	transform: scale(1.1);
	cursor: pointer;
	box-shadow: 2px 2px 3px gray;
}

#menu-utama {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 2px solid white;
	background-color: rgb(23, 123, 165);
	border-radius: 4px;
	color: white;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.2s;
	font-style: bold;
	font-size: 20px;

}

li a:hover {
	transform: scale(1.1);
	box-shadow: 1px 1px 4px white;
	color: black;
	font-style: bold;
}

.bersihfloat {
	clear: both;
}

.isi__1, .isi__2, .isi__3, .isi__4 {
	background-color: white;
	padding: 30px;
	display: none;
	color: black;
	text-align: left ;
	box-shadow: 5px 5px 3px rgb(23, 175, 184);
	border-radius: 5px;
}

#contac a {
	text-decoration: none;
}

.active {
	font-weight: bold;
}

.isi__5 {
  background-color: white;
  padding: 30px;
  color: black;
  text-align: left ;
  box-shadow: 5px 5px 3px rgb(23, 175, 184);
  border-radius: 5px;
  z-index: 1;
}

.isi__5 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.isi__5 a:hover {
	background-color: rgb(39, 193, 184);
	color: white;
	box-shadow: 2px 2px 3px gray;
}

.kartu {
	background-color: white;
	padding: 0;
	padding: 0;
	border-radius: 10px;
	border: 4px solid rgb(23, 175, 184);
	text-align: center;
}

.tema {
	position: relative;
	animation: mymove 5s infinite;
}

@keyframes mymove {
    from {left: -50px;}
    to {left: 50px;}
}
